{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'news_feed/favicon.ico' %}"/>

<head><title>{% block head%} News scraper{% endblock%}</title> </head>

<div>
{% block header %} 
    {% if user.is_authenticated %}
        <p align="right">{{user.username}} (<a href="{% url 'logout' %}?next={{request.path}}">LogOut</a>)</p>
    {% else %}
        <p align="right"><a href="{% url 'news_feed:login' %}?next={{request.path}}">Log In</a></p>
    {% endif %}
{% endblock %}
</div>

<div>
{% block content %}

{% endblock %}
</div>
