{% extends "news_feed/base.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'news_feed/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'news_feed/favicon.ico' %}"/>
{% block head %}Detail of news{% endblock %}

{%block content%}
    {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
    <h1>{{news.news_title}}</h1>
    <br>
    <p>{{news.news_previos_text}}</p>
    <p> {{news.news_text}} </p>
    <br>
    <b>{{news.news_source}}</b>
    <br>
    <b>{{news.news_pub_date}}</b>
    <br>
    <br>Tags:
    {% for tag in news.news_tags.all %}
        <a href="{% url 'tags:tagged' tag.tag_id %}">{{tag.tag_id}}</a>
    {% endfor %}
    <br>
    <br>
    <a href="{% url 'news_feed:index' %}">Back to main page</a>
    <br>
    <br>
    <h2>All comments:</h2>

    <table>
    {% for comm in news.comments.all%}
        {% if not comm.comm_author.first_name and not comm.comm_author.first_name  %}
            <tr><td> Author:</td> <td>{{comm.comm_author}}</td></tr>
        {% else %}
            <tr><td> Author:</td> <td>{{comm.comm_author.first_name}} {{comm.comm_author.last_name}}</td></tr>
        {% endif %}
        <tr><td>Comment:</td> <td>{{comm.comm_text}}</td></tr>
        {% if comm.comm_author.username == user.username %}
            <tr><td><a href="{% url 'news_feed:delete' news.id comm.id %}">Удалить</a></td></tr>
        {% endif %}
        <tr><td>____</td></tr>
    {% endfor %}
    </table>

    {% if user.is_authenticated %}
        <form action="{% url 'news_feed:comment' news.id %}" method="POST">
            <h2>Add new comment</h2>
            {% csrf_token %}
            <!--<p><input type="text" name="user_name" placeholder="Set you name" ></p> -->
            {% if user.first_name %}
                <p>Вы оставите комментарий как {{ user.first_name }} {{user.last_name}}</p>
            {% else %}
                <p>Вы оставите комментарий как {{ user.username }}</p>
            {% endif %}
            <p><textarea name="comment_text" style="width:25%;" rows=10 placeholder="Set you comment" ></textarea></p>
            <p><input type="submit" value="Add new comment"></p>
        </form>
    {% else %}
        <p>To leave comment, log in</p>
    {% endif %}
{% endblock %}