{% extends "news_feed/base.html" %}

{% block content %}
{% if news_list %}
    <table border="1" width="100%" cellpadding="5">
    
        {% for news in news_list %}
            <tr>
            <td><a href="/news_feed/{{news.id}}/?next={{ request.path|urlencode }}" style="font-size:14">{{news.news_title}}</a> </td>
            <td width="20%">{{ news.short_source_name }}</td>
            <td width="20%">{{ news.news_source_date }}</td>
            </tr>
        {% endfor%}
        {% if page_obj.number == page_obj.paginator.num_pages %}
            {% for count in countquery %}
                <tr><td>&nbsp;</td><td width="20%"></td><td width="20%"></td></tr>
            {% endfor%}
        {% endif %}
    </table>    

    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}"> previous </a>
    {% else %}
        &laquo; first previous
    {% endif %}

    {% if page_obj.number|add:'-9' > 1%}
        <a href='?page={{page_obj.number|add:"-9"}}'>&hellip;</a>
    {% endif %}

    {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <b><a href="?page={{ page }}" > {{ page }}</a></b>
            {% elif page > page_obj.number|add:'-10' and page < page_obj.number|add:'10' %}
                <a href="?page={{ page }}" > {{ page }}</a>
            {% endif %}
    {% endfor %}

    {% if page_obj.number|add:'9' < page_obj.paginator.num_pages %}
        <a href='?page={{page_obj.number|add:"9"}}'>&hellip;</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last ({{ page_obj.paginator.num_pages }}) &raquo;</a>
    {% else%}
        next last({{ page_obj.paginator.num_pages }}) &raquo;
    {% endif %}

{% else %}
    <p>No news now</p>
{%endif%}
{% endblock %}