{% if user.is_authenticated %}
    <p>You arr already log in as {{ user.username}}</p>
{% else %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Login">
    </form>

{% endif %}