 {% if obj_list %}
<ul>
    {% for obj in obj_list %}
    <li><a href="{% url 'news_feed:detail' obj.id %}">{{obj.news_title}}</a></li>  
    {% endfor %}
    
</ul>
{%else%}
<p>No tagged items</p>
{%endif%} 